.navbar {
  background-size:cover;
  background-position: center;
}

#fondo{
  height: 150px;
}
.navbar-brand img {
  height: 150px;
}

.navbar-nav li {
  margin-right: 10px;
  font-weight: bold;
}

.navbar-nav li:last-child {
  margin-right: 0;
}

#perfil{
  width: 38PX;
  height: 38PX;
}

.d-flex{
  height: 40px ;
}
