#fondo{
    height: 350px;
    background-position: center;
    background-size: cover;
    text-align:justify;
}
body {
background: rgb(190,242,255);
 background: linear-gradient(0deg, rgba(190,242,255,1) 0%, rgba(252,252,236,1) 48%);
}

.imagen-1 {
    width: 190px;
    height: 120px;
    margin-left: 95px;
}

.imagen-2{
    width: 190px;
    height: 120px;
    margin-left: 95px;
}
.contenedor {
    display: flex;
}

.txt-1 {
    margin: 0px 205px;
    text-align: center;
}
#redondear,#redondear2,#redondear3{
    border-radius: 10px;
}

.btn{
    text-decoration: none;
    padding: 15px 40px;
}

.btn-1{
    background: #CAFFD7;
    color: black;
    border-radius: 45px;
    transition: transform 0.1s ease;
} 

.p style{
    background: #ccc;
    height: 250px;
    width: 300px;
    margin: 2rem auto;
    text-align: center;
}


.paneles{
    background: rgb(190,242,255);
    background: linear-gradient(0deg, rgba(233,250,254,1) 65%, #AD7C68 90%);
}

#contenedor-imagen-con-formulario { 
    display: flex;
    justify-content:space-around;

}


@media screen and (max-width: 767px) {
    #imagen-contacto {display: none;}

}
