@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  
}

.titulos{
  font-weight: 700;
}

.contenedor-imagen {
  margin: 80px 0 80px 0;
  background-image: url(../image/imgs-pagina-acercade/1-banner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 750px;
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;
  
}

@media only screen and (max-width: 768px) {
  .contenedor-imagen{
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 500px;
  }

  .texto-imagen{
    width: 300px;
  }
}


.texto-imagen {
  
  border-radius: 10px;
  width: 500px;
  text-align: center;
  padding: 30px;
  color: #ffffff;
  background: linear-gradient(0deg, rgba(233, 250, 254, 0) 10%, #AD7C68 100%);

}

#fondo {
  height: 350px;
  background-position: center;
  background-size: cover;
  text-align: justify;
}

.imagen-1 {
  width: 190px;
  height: 120px;
  margin-left: 95px;
}

.imagen-2 {
  width: 190px;
  height: 120px;
  margin-left: 95px;
}

.contenedor {
  display: flex;
}

.txt-1 {
  margin: 0px 205px;
  text-align: center;
}

.paneles {
  border-radius: 10px;
}

.btn {
  text-decoration: none;
  padding: 15px 40px;
}

.btn-1 {
  background: #CAFFD7;
  color: black;
  border-radius: 45px;
  transition: transform 0.1s ease;
}

.p style {
  background: #ccc;
  height: 250px;
  width: 300px;
  margin: 2rem auto;
  text-align: center;
}

footer {
  background: rgb(190, 242, 255);
  background: linear-gradient(0deg, rgba(190, 242, 255, 1) 65%, rgba(233, 250, 254, 1) 93%);
}

.paneles {
  background: rgb(190, 242, 255);
  background: linear-gradient(0deg, rgba(233, 250, 254, 1) 65%, #AD7C68 90%);
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card-full{
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  padding: 10px;
  width: calc(100%/3);
  border: none;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(180deg, #FAB9D1 50%, #FFFFFF 50%);
}

.carousel-inner {
  padding: 1em;
}

#imagen-contacto {
  border-radius: 10px;
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}